{% extends 'core/document_nav.html' %}
{% load i18n staticfiles bootstrap thumbnail %}
{% block styles %}

{# custom jquery ui build with draggable and resizable only #}
{{ block.super }}
{% endblock %}

{% block nav-jobs-active %}active{% endblock %}

{% block tab_content %}
<div id="joblist">
  Salut
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript">
 'use strict';
 const DOCUMENT_ID = {{ document.pk }};
 {% if user.onboarding %}
 const ONBOARDING_PAGE = 'onboarding_jobs';
 {% endif %}
</script>

{{ block.super }}
<script type="text/javascript">
  $(document).ready(function() {

  });
</script>
{% endblock %}
