{% extends 'base.html' %}
{% load i18n staticfiles thumbnail %}
{% block head_title %}{% trans "My Documents" %}{% endblock %}

{% block styles %}
{{ block.super }}
{% endblock %}

{% block nav-doc-list-class %}active{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-12">
    <a href="{% url 'document-create' %}" class="btn btn-success float-sm-right">{% trans 'Create new' %}</a>
    <h2>{% trans "My Documents" %}</h2>
  </div>
</div>

<div id="appdoc">
  
    <documentmanage :chainflt="'{{chainflt}}'"
                    :tags="{{tags}}"
                    :tagsimg="{{tagsimg}}"
    >
    </documentmanage>
    
</div>
{% endblock %}

{% block scripts %}

  {{ block.super }}

  <script src="{% static 'doclist.js' %}" type="text/javascript"></script>

{% endblock %}