#!/bin/env bash
#SBATCH --job-name=escriptorium-segtrain
#SBATCH --partition=YOUR-PARTITION
#SBATCH --time=02:00:00
#SBATCH --gpus=1
#SBATCH --output=%j.out

echo "KETOS training"
srun ketos segtrain -o train_output -d cuda -f alto -q early -bl "dataset/*.xml"