{% load i18n bleach %}

{% if is_paginated %}
<nav aria-label="Pagination">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a class="page-link" title="{% trans 'First page' %}" href="{% if filters %}?page=1{{ filters|format_tags }}{% else %}?page=1{% endif %}">&laquo;</a>
    </li>

    {% if page_obj.number > 1 %}
    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_previous %}?page={{page_obj.previous_page_number}}{{ filters|format_tags }}{% else %}#{% endif %}" tabindex="-1"><span aria-hidden="true">&#139;</span> <span class="sr-only">{% trans "Previous" %}</span></a>
    </li>
    {% endif %}

    <li class="page-item">
      {% if filters %}
        <select class="page-link" onchange="location = '?page=' + this.value + '{{ filters|format_tags }}';">
      {% else %}
        <select class="page-link" onchange="location = '?page=' + this.value;">
      {% endif %}
      {% for item in "x"|ljust:page_obj.paginator.num_pages %}
        {% if page_obj.number == forloop.counter %}
            <option value="{{ page_obj.number}}" selected>
                {{ page_obj.number }} out of {{ page_obj.paginator.num_pages }}
            </option>
        {% else %}
            <option value="{{ forloop.counter }}">
                {{ forloop.counter }} out of {{ page_obj.paginator.num_pages }}
            </option>
        {% endif %}
      {% endfor %}
      </select>
    </li>

    {% if page_obj.number < page_obj.paginator.num_pages %}
    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
      <a class="page-link" href="{% if page_obj.has_next %}?page={{page_obj.next_page_number}}{{ filters|format_tags }}{% else %}#{% endif %}"><span aria-hidden="true">&#155;</span> <span class="sr-only">{% trans "Next" %}</span></a>
    </li>
    {% endif %}

    
    <li class="page-item">
      <a class="page-link" title="{% trans 'Last page' %}" href="{% if filters %}?page={{page_obj.paginator.num_pages }}{{ filters|format_tags }}{% else %}?page={{page_obj.paginator.num_pages }}{% endif %}">&raquo;</a>
    </li>
  </ul>
</nav>
{% endif %}
